h1 {
	font-family: Arial,Univers,sans-serif;
	font-size: 36pt;
	color: red
}

body {
	margin: 0px 0px;
}
p {	
	white-space: pre-line;
}

.start_site {
	background-color: cornsilk;
	min-height: 100%;
	min-width: 100%;
}

.centred {
	text-align: center;
}

.small_container {
	min-width:100%;
	min-height: 100px;
}

.small_container_align_mid{
	display: table;
	min-height: 100px;	
	min-width:100%;
}

.small_container > p{
	display: table-cell;
	vertical-align: middle;
}

.site{
	min-height: 600px;
}